<library path="lib/libsafedrone_gui">
  <class name="safedrone_gui/GcsPlugin" type="safedrone_gui::GcsPlugin" base_class_type="rqt_gui_cpp::Plugin">
<!--<library path="src">
  <class name="GcsPlugin" type="inspector_gcs::GcsPlugin" base_class_type="rqt_gui_cpp::Plugin">-->
    <description>
      C++ GUI plugin.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>SafeDrone Plugin GCS</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
